[Desktop Entry]
Version=1.0
Name=SXmpv
Name[el]=SXmpv
GenericName=SXmpv
GenericName[el]=SXmpv
Comment=Front end to mpv
Comment[el]=Πρόγραμμα εκτέλεσης του mpv
Type=Application
TryExec=SXmpv
Exec=SXmpv
Icon=SXmpv
Categories=AudioVideo;
